*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
.flex{
    display: flex;
}
.padding{
    padding: 0 20px 20px 20px;
}
.MainContainer{
    display: flex;
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: #141922;
}
.menùNav{
    width: 150px;
    height: 100vh;
    background-color: black;
    flex-direction: column;
}
.navigazione{
    width: 100%;
    height: 20px;
    margin-bottom: 5px;
    padding-left: 10px;
}
.icona{
    width: 20px;
    color: #7b7e82;
}
.icona img{
    height: 20px;
}
.nomeIcona{
    width: 70%;
    color: gray;
    align-items: center;
    font-size: 12px;
   
}
.TitoloSezione{
    color: white;
    padding-left: 10px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.NuovePlaylist .navigazione{
    height: 20px;
}
#gray{
    background-color: #7d7f84;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 30px;
    width: 30px;
}
#gray i{
    font-size: 20px;
    color: #080b12;
   
}
.NuovePlaylist{
    color: #7b7e82;
    font-size: 13px;
    flex-direction: column;
}
.NuovePlaylist p{
    padding-left: 10px;
    padding-top: 10px;   
}
.menùfoot{
    min-height: 70px;
    width: 90%;
    margin: auto;
    color: #7b7e82;
    font-size: 12px;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 82px;
    padding-bottom: 5px;
    background-color: black;
}
.downloadApp{
    height: 30px;
    border-bottom: solid 1px gray;
    width: 90%;
    padding-bottom: 5px;
    
}
.downloadApp img{
    height: 20px;
    width: 20px;
    line-height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}
.user img{
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin-right: 8px;
    background-color: #7b7e82;
    border-radius: 50%;
}
.user span{
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.logo{
    margin-top: 5px;
    padding: 10px;
}
.logo i{
    height: 40px;

}
 .NuovePlaylist{
    min-height: 40%;
 }

.CorpoPagina{
    width: calc(100vw - 150px);
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.CTA{
    width: calc(100%);
    height: 70px;
    background-color:#080b12;
    position: fixed;
    z-index: 999;
    align-items: center;
    justify-content: flex-end
}
button{
    border: 1px solid white;
    background-color: black;
    color: white;
    padding: 8px 13px 8px 13px;
    font-size: 10px;
    border-radius: 15px;
    font-weight: bold;
    margin-right: 170px;
}
.MenùSelezione{
    width: 100%;
    height: 80px;
    padding-top: 90px; 
    justify-content: center;
    color: #7d7f84;
    font-size: 11PX;
    font-weight: bold;
    margin-bottom: 40px;
}
.MenùSelezione a{
    padding:5px;
    color: #7d7f84;
    text-decoration: none;
}

.DescrizioneSez{
    width: 100%;
    color: white;
}

.BoxCopertine{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}
.copertine{
    flex-direction: column;
    width: calc(90% / 6);
   
    margin-top: 30px;
}


.immagine{
    height: 70%;
}
.immagine img{
    width: 100%;
    
}
.titolo{
    height: 30%;
    color:white;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.titolo h2{
    font-size: 13px;
}
.titolo p{
    color: #7b7e82;
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    font-weight: bold;
}
.DescrizioneSez p{
margin-top: 10px;
color: #7b7e82;
}

#Personale{
    justify-content: flex-start;
}
#Personale .copertine{
    margin-right: 20px;
}
.margin{
    margin-top: 20px;
}
.radius img{
    border-radius: 50%;
}
.riproduzione{
    height: 80px;
    background-color: #282828;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}