*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
.flex{
    display: flex;
}
.MainContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #141922;
}
.menùNav{
    width: 150px;
    height: 100vh;
    background-color: black;
}
.CorpoPagina{
    width: calc(100vw - 150px);
    display: flex;
}
.CTA{
    width: calc(100%);
    height: 50px;
    background-color:#080b12;
    position: fixed;
    z-index: 999;
}
.MenùSelezione{
    width: 100%;
    height: 80px;
    padding-top: 55px; 
    justify-content: center;
    color: #7d7f84;
    font-size: 11PX;
    font-weight: bold;
}
.MenùSelezione a{
    padding:5px;
}

.DescrizioneSez{
    width: 100%;
    height: 500px;
    width: 300px;background-color: red;
}
