*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
.flex{
    display: flex;
}
.padding{
    padding: 0 20px 20px 20px;
}
.MainContainer{
    display: flex;
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: #141922;
}
.menùNav{
    width: 150px;
    height: 100vh;
    background-color: black;
    flex-direction: column;
}
.navigazione{
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
    padding-left: 10px;
}
.hoverflowNav{
    overflow-y: auto;
    
}
.icona{
    width: 20px;
    color: #7b7e82;
    margin-right: 5px;
}
.icona img{
    height: 20px;
    color: #7d7f84;
}
.nomeIcona{
    width: 70%;
    color: gray;
    align-items: center;
    font-size: 12px;
   
}
.TitoloSezione{
    color: white;
    padding-left: 10px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.NuovePlaylist .navigazione{
    height: 20px;
}
#gray{
    background-color: #7d7f84;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 30px;
    width: 30px;
}
#gray i{
    font-size: 20px;
    color: #080b12;
   
}
.NuovePlaylist{
    color: #7b7e82;
    font-size: 13px;
    flex-direction: column;
    min-height: 40%;
   
}
.NuovePlaylist p{
    padding-left: 10px;
    padding-top: 10px;   
    
}
.menùfoot{
    min-height: 70px;
    width: 90%;
    margin: auto;
    color: #7b7e82;
    font-size: 10px;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 60px;
    padding-bottom: 5px;
    background-color: black;
}
.downloadApp{
    height: 30px;
    border-bottom: solid 1px gray;
    width: 90%;
    padding-bottom: 5px;
    
}
.downloadApp img{
    height: 15px;
    width: 15px;
    line-height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}
.user img{
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin-right: 8px;
    background-color: #7b7e82;
    border-radius: 50%;
}
.user span{
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.logo{
    margin-top: 5px;
    padding: 10px;
}
#logosmall{
    display: none;
}


.CorpoPagina{
    width: calc(100vw - 150px);
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.CTA{
    width: calc(100%);
    height: 70px;
    background-color:#080b12;
    position: fixed;
    z-index: 999;
    align-items: center;
    justify-content: flex-end
}
button{
    border: 1px solid white;
    background-color: black;
    color: white;
    padding: 8px 13px 8px 13px;
    font-size: 10px;
    border-radius: 15px;
    font-weight: bold;
    margin-right: 170px;
}
.MenùSelezione{
    width: 100%;
    height: 80px;
    padding-top: 90px; 
    justify-content: center;
    color: #7d7f84;
    font-size: 11PX;
    font-weight: bold;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.MenùSelezione a{
    padding:5px;
    color: #7d7f84;
    text-decoration: none;
}

.DescrizioneSez{
    width: 100%;
    color: white;
}

.BoxCopertine{
    width: 100%;
    flex-wrap: wrap;
   
    margin-bottom: 30px;
}
.copertine{
    flex-direction: column;
    width: calc(98% / 6);
    margin-top: 30px;
    padding-right: 15px;
}
.hooverImg{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 70px;
    text-align: center;
}
.hooverImg i{
    margin-top: 40px;
}

.immagine{
    height: 70%;
    position: relative;
}
.immagine img{
    width: 100%;
    height: 100%;
    
}
.titolo{
    height: 30%;
    color:white;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.titolo h2{
    font-size: 13px;
}
.titolo p{
    color: #7b7e82;
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    font-weight: bold;
}
.DescrizioneSez p{
    margin-top: 10px;
    color: #7b7e82;
}

#Personale{
    justify-content: flex-start;
}
#Personale .copertine{
    padding-right: 20px;
}
.margin{
    margin-top: 20px;
}
.radius{
    border-radius: 50%;
}
.radius img{
    border-radius: 50%;
}
.riproduzione{
    height: 60px;
    background-color: #282828;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    padding-bottom: 10px;
}
.anteprima{
    height: 100%;
    width: 20%;
    color: white;
    align-items: center;
    position: relative;
}
.middle h4{
  font-size: 15px;
}
.middle p{
    font-size: 9px;
    margin-top: 5px;
  }

  .iconeFoot{
    color: #7b7e82;
    position: absolute;
    right: 0;
  }
  .iconeFoot i{
    margin-right: 10px;
  }

.ascolto{
    height: 100%;
    width: 40%;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 5px;
}

.volume{
    height: 100%;
    width: 20%;
    color: white;
    font-size: 12px;
    justify-content: space-around;
    align-items: center;
}
.comandi{
    height: 50%;
    width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
.tempo{
    height: 50%;
    align-items: baseline;
    color: white;
    justify-content: space-between;
    font-size: 10px;
    padding: 10px 10px 0 10px;
}

.anteprima img{
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}
#big{
    font-size: 30px;
}

.comandi i{
    margin-right: 20px;
    font-size: 15px;
}

.avanzamento{
    height: 3px;
    background-color:#7d7f84;
    width: 75%;
}
.avanzamento2{
    height: 100%;
    background-color: white;
    width: 60%;
}
.avanzamentoVol{
    height: 3px;
    width: 50%;
    background-color: #7b7e82;
}

/*regole di hover*/

.immagine:hover .hooverImg{
    display: inline-block;
}

a:hover{
    color: white;
}

.NuovePlaylist p:hover{
 color: white;
}
.nomeIcona:hover{
    color: white;
}
.downloadApp:hover{
    color: white;
}
.bigbutton:hover{
    transform: scale (2,2);
}

.iconeFoot i:hover{
    color: white;
}
#big:hover{
    transform: scale(1.5);
}

.tempo:hover .avanzamento2{
    background-color: lightgreen;
}
.volume:hover .avanzamento2{
    background-color: lightgreen;
}

/*MEDIA QUERY*/

@media  screen and (max-width:968px){
    .copertine{
        width: calc(98% / 4);
    }
}

@media screen and (max-width:678px){
    .copertine{
        width: calc(98% / 2);
    }
}
@media screen and (max-width:478px){
    .logo img{
        display: none;
        margin-left: -5px;
    }
    .nomeIcona{
        display: none;
    }
    .NuovePlaylist{
        display: none;
    }
    .menùfoot span{
        display: none;
    }
    .menùfoot{
        padding-left: 10px;
    }
    .menùNav{
        width: 40px;
    }
    .user img{
        width: 20px;
        height: 20px;
    }
  
    .CorpoPagina{
        width: 100%;
    }
    #logosmall{
        display: inline-block;
        height: 30px;
        width: 30px;
    }
    .downloadApp{
        border:none;
    }
    #bigbutton{
        margin-right: 70px;
    }
}
